<div class="add-event">
  <h2>
    Add Event
  </h2>
  <form class="add-event-form">
    <label for="event_title">
    Event Title:
    </label>
    <br />
    <textarea id="event_title" name="event_title" rows="2" cols="30">
    {{event_title}}
    </textarea>
    <br />
    <label for="event_description">
    Description:
    </label>
    <br />
    <textarea id="event_description" name="event_description" rows="5" cols="30">
    {{event_description}}
    </textarea>
    <br />
    Location:
    </label>
    <br />
    <textarea id="event_location" name="event_location" rows="2" cols="30">
    {{event_location}}
    </textarea>
    <br />
    <label for="date_dropdown">
    Choose a Date:
    </label>
    <br />
    <label for="event_start_time">Event Start (date and time):</label>
    <input type="datetime-local" id="starttime" name="starttime">
    <br />
    <label for="event_end_time">Event End (date and time):</label>
    <input type="datetime-local" id="endtime" name="endtime">
    <br />
    <label for="category_dropdown">
    Choose a category:
    </label>
    <br />

    <br />
    <button type="submit_event" value="Submit">
    Submit
    </button>
  </form>
</div>
<script src="/js/UPDATETHIS.js"></script>
