:root {
  --primary: #484584;
  --secondary: #e9efee;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: monospace;
}

.card {
  margin: auto;
  border: solid 2px;
  color: var(--secondary);
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  position: center;
  
}

h1 {
  font-family: Monofett, monospace;
  font-size: 75px;
}

button {
  font-family: monospace;
}

h2 {
  text-align: center;
}

#add-event {
  margin: 20px 0px;
}

footer {
  margin: 25px;
  text-align: center;
}
